h3, h4, h5, h6{
    text-align: center;
}


h2 {
    /* Font & Text */
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    letter-spacing: normal;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}

h1 {
    /* Font & Text */
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: #FF6600;
    /* Box */
    height: 120px;
    width: 750px;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: 10px auto;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    /* List */
    /* Table */
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
}

li{
    text-align: center;
}
p, ul, p{
    /* Font & Text */
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    text-decoration: none;
    text-align: right;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(114, 114, 114);
    /* Box */
    width: 750px;
    box-sizing: border-box;
    margin: 10px auto;
}

em {
    /* Font & Text */
    font-family: Lora, serif;
    font-size: 19px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    text-decoration: none;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(14, 19, 24);
    /* Box */
    height: auto;
    width: auto;
    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: inline;
    clear: none;
    z-index: auto;
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
    /* Effects */
    word-wrap: break-word;
}

/*
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}*/

.menu-item a {
    font-family: "Source Sans Pro", sans-serif;
    top: 15px;
    left: 15px;
    position: relative;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

/* Layout */

#content {
    border: 2px solid beige;
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    float: left;
    left: 20%;
    position: relative;    
}

#menu {
    /*border: 2px solid red;*/
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    float: left;
    left: 0;
    position: fixed;
}

.menu-item {
    height: 15%;
    /*background-color: #eeeeee;
    border: 1.5px solid white;*/
    box-sizing: border-box;
    overflow: visible;
}

.menu-item:hover, .selected{
    border-top: 2.3px solid #FF6600;
    border-bottom: 2.3px solid #FF6600;
}

.style-item{
    color: #5f5f5f;
    font-family: fontawesome;
    font-size: 18px;
    line-height: 16px;
    padding-top: 15px;  
    box-sizing: border-box;
}